@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html{
    margin: 0%;
    height: 100%;
    background-color: #cfd9df
}

h1,h2 {
    font-family: 'Quicksand', sans-serif;
}

h2{
    margin-left: 30px;
}

img{
    border-radius: 8px;
}

.radius
{
    background-color: #FFEFD5;
    padding: 3px;
    border-radius: 8px;
}

p{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#page-design{
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}

footer{
    position:absolute;
    width: 100%;
    background-color: steelblue;
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    padding: 8px;
}