@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html, body{
    height: 100px;
    background-color: #cfd9df;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper

{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.img{
    width: 100%;
    height: 400px;
    background-image: url('/images/web-banner.jpg');
    background-size: 100% 100%;
    border: 1px solid black;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: steelblue;
    text-align: center;
    color: black;
    font-size: 15px;
    padding: 8px;
}

/* drop down menu style */

nav{
    background-color: steelblue;
    overflow: hidden;
}

nav a{
    display: block;
    float: left;
    text-decoration: none;
}

nav a, .dropdown .dropbtn {
    text-transform: uppercase;
    color: black;
    padding: 20px;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

nav a:hover, .dropdown:hover{
    background-color: azure;
    color: black;
    transition-duration: .6s;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    background-color: #f9f9f9;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ccc;
}

@media screen and (max-width: 800px){
    nav{
        width: 100%;
        height: auto;
        position: relative;
    }

    nav a{
        float: left;
    }

}

@media screen and (max-width: 600px) {
    nav a, .dropdown-content{
        float: none;
        text-align: center;
    }

    .dropdown-content a, .dropbtn {
        float: none;
    }
}

/* Style page carriere carriere */

main{
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    margin: 2em;
    
}

.intro
{
    flex: 400px;
    flex: 1;
    margin-top: 10%
}

.experiences
{
    flex: 600px;
}

/* Style de la page education */

.container-1
{
    display: flex;
}

.container-1 div
{
    border: 1px solid black;
    
}

.box1
{
    flex: 1;
}

.box2
{
    flex: 1;
}
